[Unit]
Description=AKA Python Speedtest-poller service

[Service]
Type=simple
WorkingDirectory=/root/speedtest/
ExecStart=/usr/bin/python poller.py
KillMode=process
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
