[Unit]
Description=AKA Python Speedtest service

[Service]
Type=oneshot
WorkingDirectory=/home/root/speedtest/
ExecStart=/usr/bin/python speedtest-cli-mod.py
KillMode=process

[Install]
WantedBy=multi-user.target
Wants=network-online.target
