<!DOCTYPE html>
<html>
<head>
    <title>speedtest</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,500' rel='stylesheet' type='text/css'>
    <meta http-equiv="refresh" content="60">
    <style type="text/css">
        body,html {
            font-family: 'Roboto', sans-serif;
            font-size:2em;
            font-weight: 100;
            margin:100px auto;
            text-align: center;
            background-color:rgba({{tred}}, {{tgreen}}, 0, 50);
        }
        strong {
            font-weight: 500;
            display: block;
            margin:20px 0px 0px 0px;
        }
    </style>
</head>
<body>
Speedtest barnacle on tuned-resonator</br>
{% for k in keywords %}
<strong>{{k}}</strong>
{% end for %}

</body>
</html>